.card {
  border: solid white 2px;
  border-radius: 7px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  transition: background-color 0.4s ease;
}

.card:hover {
  background-color: #ffaa6483;
  cursor: pointer
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  min-height: 50px;
}

.descriptionContainer {
  /* do nothing here */
}